@font-face {
  font-family: Abel;
  src: url("./Abel/Abel-Regular.ttf");
}

.p-todos {
  font-family: Abel;
  width: 100%;
}

.p-todos .row {
  justify-content: center;
}

.p-todos > .row > .c-todo-input {
  width: 300px;
  margin-bottom: 50px;
  margin-top: 20px;
}
.p-todos > .row > .card-columns {
  width: 90%;
}
.p-todos > .row > .card-columns > .c-todo-card {
  width: 100%;
}
